menuentry "Zinc OS" {
    if [ "$grub_platform" = "efi" ]; then
        insmod efi_gop
        insmod efi_uga
    else
        insmod vbe
    fi

    # GRUB picks the first mode it supports, so list higher modes first.
    set gfxmode=3840x2160,2560x1440,1920x1200,1920x1080,1680x1050,1600x1200,1600x900,1440x900,1366x768,1360x768,1280x1024,1280x800,1280x720,1024x768,auto
    terminal_output gfxterm
    set gfxpayload=keep

    multiboot2 /boot/kernel.elf
    boot
}
