menuentry "MyOS" {
    if [ "$grub_platform" = "efi" ]; then
    insmod efi_gop
    insmod efi_uga
    else
        insmod vbe
    fi
    terminal_output gfxterm
    set gfxpayload=keep

    set gfxmode=auto
    multiboot2 /boot/kernel.bin
    boot
}
